.subVisual {
  background-color: #eefbff;
}
.subVisual .container {
  height: 700px;
  position: relative;
}
.subVisual .contentsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
}
.subVisual .contentsBox .subTitleBox .subTitle {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.subVisual .contentsBox .subTitleBox p {
  color: #333;
  line-height: 1.8;
}
.subVisual .contentsBox .imgBox {
  width: 740px;
  height: 500px;
  position: relative;
}
.subVisual .contentsBox .imgBox img {
  position: absolute;
}

#subVisual01 .contentsBox .imgBox img:nth-child(1) {
  left: 200px;
}
#subVisual01 .contentsBox .imgBox img:nth-child(2) {
  left: 0;
  top: 120px;
}
#subVisual01 .contentsBox .imgBox img:nth-child(3) {
  left: 60px;
  top: 250px;
}
#subVisual01 .contentsBox .imgBox img:nth-child(4) {
  right: 0;
  top: 120px;
}

#lnb {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  bottom: 0;
}
#lnb .depth02 {
  display: flex;
}
#lnb .depth02 li {
  flex-basis: 25%;
  border: 1px solid #ccc;
}
#lnb .depth02 li:not(:nth-child(1)) {
  border-left: none;
}
#lnb .depth02 li.active {
  background-color: #0f91d0;
  border-color: #0f91d0;
  color: #fff;
}
#lnb .depth02 li a {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}
#lnb .depth03 {
  display: none;
}

.breadCrumb {
  position: relative;
  z-index: 2;
}
.breadCrumb .container {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
.breadCrumb .container > a {
  position: relative;
}
.breadCrumb .container > a::after {
  content: "";
  display: block;
  position: absolute;
  display: block;
  width: 1px;
  height: 15px;
  background-color: #ccc;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.breadCrumb .container .home {
  display: flex;
  width: 50px;
  height: 50px;
  text-indent: -999px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.breadCrumb .container .home::before {
  text-indent: 0;
  font-size: 24;
  font-family: "Material Icons Outlined";
  content: "home";
  display: inline-block;
  margin-left: 0;
}
.breadCrumb .container .lnb01 {
  padding: 0 20px;
  height: 50px;
  display: flex;
  align-items: center;
}
.breadCrumb .container .lnb02:hover .depth02 {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}
.breadCrumb .container .lnb02 button {
  padding: 0 20px;
  background: none;
  border: none;
  display: flex;
  height: 50px;
  align-items: center;
  font-size: 16px;
  font-family: "Noto Sans KR";
}
.breadCrumb .container .lnb02 .depth02 {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 150px;
  box-sizing: 5px 5px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all 0.25s ease-in-out;
}
.breadCrumb .container .lnb02 .depth02 a {
  display: block;
  padding: 5px 0;
}
.breadCrumb .container .lnb02 .depth02 .depth03 {
  display: none;
}